font-family: 'Merriweather',
serif;
font-family: 'Monoton',
cursive;
font-family: 'Nunito',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Playfair Display',
serif;
font-family: 'Potta One',
cursive;
font-family: 'PT Sans Caption',
sans-serif;
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto Flex',
sans-serif;
font-family: 'Source Code Pro',
monospace;
font-family: 'Source Sans Pro',
sans-serif;